name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'
          # 注意：这里的 cache 如果报错可以先设为 false
          cache: true

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android, armv7-linux-androideabi

      - name: Install dependencies
        # 核心：直接告诉它去哪找 pubspec.yaml
        working-directory: TCL-BtRemote/TCL-BtRemote/btremote_app
        run: flutter pub get

      - name: Build APK
        # 核心：同样指定路径
        working-directory: TCL-BtRemote/TCL-BtRemote/btremote_app
        run: flutter build apk --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BtRemote-APK
          path: "**/app-release.apk"
