name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'
          cache: true

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android, armv7-linux-androideabi, x86_64-linux-android

      - name: Install dependencies
        run: |
          # 自动寻找 pubspec.yaml 所在的目录
          APP_DIR=$(find . -name pubspec.yaml -exec dirname {} \;)
          echo "APP_DIR=$APP_DIR" >> $GITHUB_ENV
          cd $APP_DIR
          flutter pub get
        
      - name: Build APK
        run: |
          cd ${{ env.APP_DIR }}
          flutter build apk --release
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BtRemote-APK
          # 这里的路径通过 find 动态获取，确保万无一失
          path: "**/build/app/outputs/flutter-apk/app-release.apk"
