name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          # 必须安装 Android 对应的 Rust 目标，否则无法打包进 APK
          targets: aarch64-linux-android, armv7-linux-androideabi

      - name: Install dependencies
        run: |
          # 动态定位到包含 pubspec.yaml 的最深层目录
          TARGET_DIR=$(find . -name pubspec.yaml -exec dirname {} \;)
          echo "PROJECT_DIR=$TARGET_DIR" >> $GITHUB_ENV
          cd $TARGET_DIR
          flutter pub get

      - name: Build APK
        run: |
          # 进入刚才记录的目录进行编译
          cd ${{ env.PROJECT_DIR }}
          # --no-pub 是为了防止它乱跳路径
          flutter build apk --release --no-pub

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BtRemote-App
          # 使用递归搜索，不管它在哪个 build 文件夹里都能找到
          path: "**/build/app/outputs/flutter-apk/app-release.apk"
